.dangtin {
  margin-top: 20px;
  .gap-0 {
    gap: 0 !important;
  }
  #batdongsannoibat {
    margin-top: 0;
    padding-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width: 992px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .slide {
    position: relative;
    z-index: 50;
    .controls {
      display: none;
      svg {
        width: 20px;
        height: 20px;
        color: #fff;
        fill: #fff;
      }
      .bi-zoom-in {
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
      .bi-zoom-out {
        opacity: 0.3;
        cursor: default;
        &:hover {
          opacity: 0.3;
          cursor: default;
        }
      }
    }
    &[data-zoom='1.5'] {
      .mySwiper2 {
        .swiper-slide.swiper-slide-active {
          img {
            transform: scale(1.5);
          }
        }
      }
      .bi-zoom-in {
        opacity: 0.3 !important;
        cursor: default !important;
      }
      .bi-zoom-out {
        opacity: 1;
        cursor: pointer;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
    img {
      cursor: pointer;
      transition: transform 0.3s;
    }
    height: 550px;
    &.show {
      position: fixed;
      inset: 0;
      width: 100% !important;
      height: 100% !important;
      z-index: 1000;
      background: rgba(0, 0, 0, 1) !important;
      height: unset;
      padding: 32px;
      @media (max-width: 991px) {
        padding: 32px 0;
      }
      .controls {
        display: flex;
        justify-content: flex-end;
        gap: 32px;
        align-items: center;
        @media (max-width: 991px) {
          padding: 0 32px;
        }
        .close-btn {
          display: inline-block;
          color: #fff;
          text-align: right;
          font-size: 24px;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
      .mySwiper2 .swiper-wrapper {
        & > .swiper-slide-active {
          background: rgba(0, 0, 0, 1) !important;

          &.swiper-slide-thumb-active {
            img {
              object-fit: cover;
            }
          }
          img {
            object-fit: contain;
          }
        }
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
      position: relative;
      height: 550px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    body {
      background: #000;
      color: #000;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 80%;
      width: 100%;
    }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      // opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-next,
    .swiper-button-prev {
      height: 40px;
      width: 40px;
      background-color: #fff;
      background-image: url(../assets/img/arrow-left.svg);
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      &:active {
        background-color: #d1193f;
        background-image: url(../assets/img/arrow-left-active.svg);
      }
      &::after {
        content: '';
        background-color: #fff;
      }
    }
    .swiper-button-next {
      background-image: url(../assets/img/arrow-right2.svg);
      &:active {
        background-image: url(../assets/img/arrow-right-active.svg);
      }
    }
    .swiper-slide-thumb-active {
      border: 2px solid #d1193f;
    }
    .swiper-thumbs {
      .swiper-slide {
        border-radius: 4px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .slide-description {
    color: #383f47;

    .title {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }

    .content,
    .content-phone {
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
    }

    .footer {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      font-style: normal;
    }
  }

  .box {
    padding: 16px 0;
    border-top: 1px solid #ecedf1;
    border-bottom: 1px solid #ecedf1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // overflow: scroll;

    .box-text {
      display: flex;
      gap: 3rem;
      min-width: 500px;

      .lable {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #646d84;
      }

      .value {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #383f47;
      }
    }

    .box-icon {
      display: flex;
      gap: 30px;
      justify-content: flex-end;
      min-width: 200px;
      .dropdown {
        button {
          padding: 0;
          border: none;
          outline: none;
          background-color: #fff;
          box-shadow: none !important;
          &::after {
            display: none;
          }
        }
        .dropdown-item {
          display: flex;
          gap: 16px;
          align-items: center;
          cursor: pointer;
          img {
            width: 24px;
            height: 24px;
          }
          &:active {
            background-color: var(--primary);
          }
        }
      }

      img {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 992px) {
      .box-icon {
        justify-content: flex-start;
      }

      .box-text {
        gap: 2rem;
        flex-wrap: wrap;
        width: 150px;
        padding-left: 15px;
        min-width: unset;
      }
    }
  }

  .box-see-more {
    gap: 16px;

    .lable {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #383f47;
    }

    .text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #646d84;
    }

    .btn-see-more {
      display: flex;
      justify-content: center;

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-decoration: none;
        cursor: pointer;
        color: #d1193f;
      }

      text-align: center;
    }
  }

  .box-characteristics {
    gap: 12px;
    flex-wrap: wrap;

    .title {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #383f47;
    }

    .lable {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #646d84;
    }

    .content {
      .row {
        justify-content: space-between;
        // width: 100%;
        flex-wrap: wrap;
      }

      .line {
        justify-content: space-between;

        display: flex;
        border-bottom: 1px solid #ecedf1;
        width: 320px;
        @media screen and (max-width: 992px) {
          width: 100%;
        }
        padding: 14px 0;

        &-label {
          img {
            margin-right: 8px;
          }

          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #646d84;
        }

        &-text {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #383f47;
        }
      }
    }
  }

  .footer-text {
    border-top: 1px solid #ecedf1;
    padding-top: 24px;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #646d84;
  }

  .btn-see-more {
    display: flex;
    justify-content: center;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      text-decoration: none;
      cursor: pointer;
      color: #d1193f;
    }

    text-align: center;
  }
}

.box-characteristics {
  gap: 12px;

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #383f47;
  }

  .lable {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #646d84;
  }

  .content {
    display: flex;
    justify-content: space-between;
    &.col-md-12 > div {
      flex: 1;
    }
    .line {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ecedf1;
      width: 320px;
      padding: 14px 0;

      &-label {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #646d84;
      }

      &-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #383f47;
      }
    }
  }
}

.footer-text {
  border-top: 1px solid #ecedf1;
  padding-top: 24px;
  margin-bottom: 80px;
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #646d84;
  }
}
@media screen and (max-width: 576px) {
  .footer-text {
    p {
      padding-left: 15px;
      word-wrap: break-word;
    }
  }
  // .box-characteristics,
  .search-word {
    padding-left: 15px;
  }
  .row.rows-col-1.row-cols-sm-2 {
    & > .col {
      min-width: 100%;
    }
  }
  .box-text.row.row-cols-2.row-cols-md-4.gap-0.flex-grow-1 {
    row-gap: 24px !important;
  }
  .box.mt-3.pta {
    flex-direction: column;
    gap: 24px;

    & > .box-text {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      padding-left: 0;
    }
    & > .box-icon {
      width: 100%;
      margin-left: auto;
      justify-content: flex-end;
    }
  }
  .dangtin > .row > .col-lg-9 > .slide {
    margin-left: -15px;
    margin-right: -15px;
    height: unset;
    margin-bottom: 40px;
    .mySwiper:last-child {
      display: none;
    }
    &.show {
      margin-left: 0;
      margin-right: 0;
      // padding-left: 0;
      // padding-right: 0;
      margin-bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .mySwiper:last-child {
        display: block;
        height: 100px;
        // margin-top: auto;
      }
    }

    .mySwiper2 {
      height: 300px !important;
    }
  }
}
@media screen and (min-width: 992) {
  .row.rows-col-1.row-cols-sm-2 {
    & > .col:nth-child(even) {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #646d84;
}
.left-element {
  .profile-element {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 10px 10px;

    .profile-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Be Vietnam Pro';
      font-style: normal;
      font-weight: 500;
      gap: 5px;
      padding-bottom: 10px;
      .upload-by {
        color: #9399a9;
        font-size: 12px;
      }
      .name {
        color: #383f47;
        font-size: 14px;
      }
    }
    .detail-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .btn {
        width: 100%;
        border: 1px solid #ecedf1;
        border-radius: 8px;
        color: #383f47;
        font-size: 14px;
      }
    }
  }
  .list-bds {
    margin-top: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 15px 10px;
    .title {
      font-family: 'Be Vietnam Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #383f47;
      margin-bottom: 15px;
    }
    .link-bds {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      gap: 15px;
      a {
        color: #646d84;
      }
      a:hover {
        color: #d1193f;
      }
    }
  }
}
.swiper-slide {
  -webkit-transform: translate3d(0, 0, 0);
}
#nav-footer-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: none !important;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  & > div.btn {
    margin-left: 16px;
    flex: 1;
  }
  .quote {
    padding: 4px 12px;
    margin-left: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  .navbar-toggler {
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  .navbar-collapse {
    position: absolute;
    // top: 54px;
    top: calc(100% + 300px);
    width: 100%;
    left: 0;
    // bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    // min-width: 320px;
    transition: all 0.4s ease;
    display: block;
    .header {
      display: none;
    }
    & > ul {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0 !important;
      right: 0 !important;
    }
  }
  .nav-mobile-header {
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
    a {
      flex: 1;
      outline: none !important;
      box-shadow: none !important;
      border-radius: 10px;
      &:hover {
        opacity: 0.8;
      }
    }
    .btn.btn-primary {
      border-color: #d1193f !important;
      background-color: #d1193f !important;
    }
    & > div {
      display: flex;
      gap: 16px;
    }
  }
  .navbar-collapse.collapsing {
    height: auto !important;
    margin-top: 50%;
    top: 50%;
    transition: all 0.2s ease;
    margin-left: 0 !important;
    .header {
      display: none;
    }
  }
  .navbar-collapse.show {
    // left: 0;
    // min-height: 100vh;
    position: fixed;
    right: 0;
    bottom: 100%;
    top: unset;
    height: 260px;
    min-height: unset;

    z-index: 100000;
    & + .nav-overlay {
      position: fixed;
      z-index: -1;
      background-color: rgba(0 0 0/ 0.5);
      width: 100%;
      inset: initial;

      /* top: 0; */
      left: 0;
      bottom: 100%;
      height: 100vh;
    }
    & > ul {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      height: 100%;
      .header {
        padding: 16px;
        border-bottom: 1px solid #ddd;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        svg {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          &:hove {
            opacity: 0.8;
            cursor: pointer;
          }
          &:first-child {
            right: unset;
            left: 16px;
          }
        }
      }
      .nav-item {
        .nav-link {
          padding-left: 16px;
          padding-right: 16px;
          font-size: 14px;
          color: #383f47;
          display: flex;
          align-items: center;
          gap: 8px;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
    .item-menu {
      padding: 12px 0;
      flex: 1;
      // border-top: 1px solid #9399a9;
      .nav-link {
        padding: 0;
      }
    }
  }
}
.col-lg-9.fix {
  @media screen and (min-width: 992px) {
    max-width: calc(100% - 330px);
  }
}
