@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif !important;
  color: #383f47;
}

a:hover {
  text-decoration: none;
}

@import 'custom';
@import 'header';
@import 'footer';
@import 'chuyenmuc';
@import 'content';
@import 'duanmoi';
@import 'loctheobanggia';
@import 'dangtin';
@import 'subfilter';
@import 'home.mobile';

.gap-8 {
  gap: 8px;
}

h3.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #383f47;

  &:hover {
    color: #383f47 !important;
  }
}

.swiper-slide img {
  width: initial;
  height: initial;
  object-fit: initial;
  display: initial;
}

.swiper-controls {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  justify-content: flex-end;

  .next,
  .prev {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &:disabled {
      background-color: #ddd;
      user-select: none !important;
      cursor: default !important;
      opacity: 0.7;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;

  .swiper-wrapper {
    padding-bottom: 10px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
