<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="col-md-3">
      <a href="#" class="main-item danh-gia-tot"
        ><div href="#">
          <div class="image-item">
            <!--                            <img src="images/star.png" alt="" class="icon-star" style="width: 16px">-->
            <img
              class="avatar ls-is-cached lazyloaded"
              src="./assets/img/property.png"
              alt="Bán gấp nhà mặt phố Khương Trung, kinh doanh..."
              style="
                height: 100%;
                object-fit: cover;
                width: 100%;
                border-radius: 6px !important;
              "
            />
            <div class="list-img">
              <img src="./assets/img/camera.png" alt="" />
              <span class="qty">4</span>
            </div>
          </div>
        </div>

        <div class="info">
          <h3 class="title">Bán gấp nhà mặt phố Khương Trung, kinh doanh...</h3>
          <div class="price-area">
            <span class="price">
              <img src="./assets/img/price.png" alt="" />
              <span style="margin-left: 5px"> 2 tỷ 600 triệu </span>
            </span>

            <span class="area">
              <img src="./assets/img/area.png" alt="" />
              <span style="margin-left: 5px">80m²</span>
            </span>
          </div>
          <div class="address">Thanh Xuân, Hà Nội</div>
          <div class="rate-and-like">
            <div class="rate">
              <span class="average">5</span>
              <span class="list-star">
                <img src="./assets/img/star.png" alt="" />
                <img src="./assets/img/star.png" alt="" />
                <img src="./assets/img/star.png" alt="" />
                <img src="./assets/img/star.png" alt="" />
                <img src="./assets/img/star.png" alt="" />
              </span>

              <span class="qty"> (1 rating) </span>
            </div>
            <div class="heart">
              <img src="./assets/img/heartIcon.png" alt="" />
            </div>
          </div></div
      ></a>
    </div>
    <script src="./js/index.js" />
  </body>
</html>
