<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div id="duanmoi-container" class="container">
      <div class="swiper-controls">
        <h3 class="title mb-0 mr-auto align-self-end">Đánh giá tốt</h3>
        <button class="duanmoi-swiper-prev prev">
          <img src="./assets/icon/arrow-left.svg" alt="" />
        </button>
        <button class="duanmoi-swiper-next next">
          <img src="./assets/icon/arrow-right.svg" alt="" />
        </button>
      </div>
      <div class="swiper duanmoi-swiper">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item sap-mo-ban">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide">
            <div class="duanmoi-item">
              <img src="./assets/img/item.png" alt="" />
              <div>
                <h4>Sun Case Central</h4>
                <p>38 triệu/m2 <span></span> 1.7 ha</p>
                <p>Tân Uyên, Bình Dương</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div id="home-pta1-container" class="container">
      <div class="swiper home-pta1-swiper">
        <div class="home-pta1-pagination mb-4"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="home-pta1-item">
              <h3 class="d-none d-lg-block">Thị trường</h3>
              <a href="#" class="main">
                <img src="./assets/img/item.png" alt="" />
                <p>
                  Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                  t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                </p>
              </a>
              <div class="sub-container">
                <a href="#" class="sub">
                  <img src="./assets/img/item.png" alt="" />
                  <p>
                    Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                    t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                  </p>
                </a>
                <a href="#" class="sub">
                  <img src="./assets/img/item.png" alt="" />
                  <p>
                    Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                    t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="home-pta1-item">
              <h3 class="d-none d-lg-block">Thị trường</h3>
              <a href="#" class="main">
                <img src="./assets/img/item.png" alt="" />
                <p>
                  Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                  t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                </p>
              </a>
              <div class="sub-container">
                <a href="#" class="sub">
                  <img src="./assets/img/item.png" alt="" />
                  <p>
                    Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                    t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                  </p>
                </a>
                <a href="#" class="sub">
                  <img src="./assets/img/item.png" alt="" />
                  <p>
                    Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                    t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="home-pta1-item">
              <h3 class="d-none d-lg-block">Thị trường</h3>
              <a href="#" class="main">
                <img src="./assets/img/item.png" alt="" />
                <p>
                  Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                  t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                </p>
              </a>
              <div class="sub-container">
                <a href="#" class="sub">
                  <img src="./assets/img/item.png" alt="" />
                  <p>
                    Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                    t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                  </p>
                </a>
                <a href="#" class="sub">
                  <img src="./assets/img/item.png" alt="" />
                  <p>
                    Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                    t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="home-pta1-item">
              <h3 class="d-none d-lg-block">Thị trường</h3>
              <a href="#" class="main">
                <img src="./assets/img/item.png" alt="" />
                <p>
                  Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                  t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                </p>
              </a>
              <div class="sub-container">
                <a href="#" class="sub">
                  <img src="./assets/img/item.png" alt="" />
                  <p>
                    Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                    t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                  </p>
                </a>
                <a href="#" class="sub">
                  <img src="./assets/img/item.png" alt="" />
                  <p>
                    Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất, ô
                    t...Bán gấp nhà mặt phố Khương Trung, kinh doanh sầm uất
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="./js/index.js" />
  </body>
</html>
