<ul class="dropdown-container form-checkbox-container">
  <li class="form-checkbox">
    <label for="main-checkbox-sub-m-1">Tất cả nhà đất</label>
    <input id="main-checkbox-sub-m-1" type="checkbox" />
  </li>
  <li class="form-checkbox">
    <label for="main-checkbox-sub-m-2">Căn hộ chung cư</label>
    <input id="main-checkbox-sub-m-2" type="checkbox" />
  </li>
  <li class="form-checkbox">
    <label for="main-checkbox-sub-m-3">Các loại nhà bán</label>
    <input id="main-checkbox-sub-m-3" type="checkbox" />
  </li>
  <li class="form-checkbox sub-checkbox">
    <label for="main-checkbox-sub-m-4">Nhà riêng</label>
    <input id="main-checkbox-sub-m-4" type="checkbox" />
  </li>
  <li class="form-checkbox sub-checkbox">
    <label for="main-checkbox-sub-m-5">Biệt thự liền kề</label>
    <input id="main-checkbox-sub-m-5" type="checkbox" />
  </li>
  <li class="form-checkbox sub-checkbox">
    <label for="main-checkbox-sub-m-6">Nhà mặt phố</label>
    <input id="main-checkbox-sub-m-6" type="checkbox" />
  </li>
  <li class="form-checkbox sub-checkbox">
    <label for="main-checkbox-sub-m-7">Shopehouse, nhà phố thương mại</label>
    <input id="main-checkbox-sub-m-7" type="checkbox" />
  </li>
  <li class="form-checkbox">
    <label for="main-checkbox-sub-m-8">Các loại đất bán</label>
    <input id="main-checkbox-sub-m-8" type="checkbox" />
  </li>
  <li class="form-footer">
    <p class="form-checkbox-resetall">
      <img src="./assets/img/refresh-2.svg" alt="" />
      Đặt lại
    </p>
    <span class="form-close">Áp dụng</span>
  </li>
</ul>
