<footer style="background: #ecedf1">
  <div class="footer container pt-1 gap-w">
    <div class="footer-top row">
      <div class="col-lg-4 text-center text-lg-left">
        <a href="">
          <img src="./assets/img/logo-footer.png" alt="" />
        </a>
      </div>

      <div class="col-lg-2 col-5">
        <div class="item d-flex gap-1 align-items-center">
          <div class="img" style="float: left">
            <img src="./assets/img/call-calling.png" alt="" />
          </div>
          <div class="text">
            <div class="text-top">Hotline 24/7</div>
            <div class="text-bot">1900 1881</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-7">
        <div class="item d-flex gap-1 align-items-center">
          <div class="img" style="float: left">
            <img src="./assets/img/message-question.png" alt="" />
          </div>
          <div class="text">
            <div class="text-top">Hỗ trợ khách hàng</div>
            <div class="text-bot">contact@homeup.vn</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div
          class="item d-flex gap-1 align-items-center justify-content-lg-end text-right text-lg-left"
        >
          <div class="img" style="float: left">
            <img src="./assets/img/cham-soc-kh.png" alt="" />
          </div>
          <div class="text">
            <div class="text-top">Chăm sóc khách hàng</div>
            <div class="text-bot">contact@homeup.vn</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row footer-top2">
      <div class="col-lg-2 col-6 item">
        <ul>
          <li>
            <p>Company</p>
          </li>
          <li>
            <a href="#"> About </a>
          </li>
          <li>
            <a href="#"> Jobs</a>
          </li>
          <li>
            <a href="#"> Press </a>
          </li>
          <li>
            <a href="#">Investor Relatión </a>
          </li>
          <li>
            <a href="#"> Management Team </a>
          </li>
          <li>
            <a href="#"> In Your Company </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6 item">
        <ul>
          <li>
            <p>Work with Homeup</p>
          </li>

          <li>
            <a href="#"> Join the Homeup </a>
          </li>
          <li>
            <a href="#"> Run a Homeup </a>
          </li>
          <li>
            <a href="#"> Learn About Homeup </a>
          </li>
          <li>
            <a href="#"> Affiliate Program </a>
          </li>
          <li>
            <a href="#"> Vendor Code </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 item">
        <ul>
          <li>
            <p>Work with Homeup</p>
          </li>

          <li>
            <a href="#"> Join the Homeup </a>
          </li>
          <li>
            <a href="#"> Run a Homeup </a>
          </li>
          <li>
            <a href="#"> Learn About Homeup </a>
          </li>
          <li>
            <a href="#"> Affiliate Program </a>
          </li>
          <li>
            <a href="#"> Vendor Code </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 item">
        <ul>
          <li class="text-left text-sm-center text-lg-left">
            <a href="" style="color: #646d84"> Ngôn ngữ </a>
          </li>
          <li>
            <select name="" class="select-lang w-100 w-md-unset">
              <option value="">Tiếng Việt</option>
              <option value="">Tiếng Anh</option>
            </select>
          </li>
          <li class="text-left text-sm-center text-lg-left">
            <p style="color: #646d84">Cộng đồng</p>
          </li>
          <div class="list-social text-left text-sm-center text-lg-left">
            <a href="" class="item">
              <span>
                <img src="./assets/img/icon-fb.png" alt="" />
              </span>
            </a>
            <a href="" class="item">
              <span>
                <img src="./assets/img/icon-zalo.png" alt="" />
              </span>
            </a>
            <a href="" class="item">
              <span>
                <img src="./assets/img/icon-ticktok.png" alt="" />
              </span>
            </a>
          </div>
        </ul>
      </div>
      <div
        class="col-lg-3 item list-app d-flex justify-content-center justify-content-lg-start gap-3 align-items-md-end flex-column flex-sm-row flex-lg-column"
      >
        <div class="app">
          <a href=""> </a>
          <div class="content">
            <a href="">
              <div class="img">
                <img src="./assets/img/icon-phone.png" alt="" />
              </div>
            </a>
            <div class="text">
              <a href="">
                <span style="color: #fff">Tải ngay ứng dụng</span><br /> </a
              ><a href="" class="link-homeup"
                >Homeup App
                <i
                  class="fas fa-caret-right"
                  style="margin-left: 5px; margin-top: 2px"
                ></i
              ></a>
            </div>
          </div>
        </div>

        <div class="app mt-0 mt-md-3">
          <a href=""> </a>
          <div class="content" style="padding: 18px 12px">
            <a href="">
              <div class="img" style="margin-right: 6px">
                <img src="./assets/img/sms-edit.png" alt="" />
              </div>
            </a>
            <div class="text">
              <a href="">
                <span style="color: #fff">Gia nhập Homeup!</span>
                <span> </span></a
              ><a href="" class="link-homeup"
                >Ứng tuyển
                <i
                  class="fas fa-caret-right"
                  style="margin-left: 5px; margin-top: 2px"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <hr /> -->
    <div class="row footer-local mt-lg-5 mt-4">
      <div class="col-md-12">
        <h2 class="title">Incredible Deals on Local Experiences</h2>
        <ul class="flex-wrap">
          <li>Homeup Gift Ideas</li>
          <li>Valentine’s Day Gifts</li>
          <li>Mother’s Day Gifts</li>
          <li>Father’s Day Gifts</li>
          <li>Things to Do</li>
        </ul>
      </div>
      <div class="col-md-12 mt-lg-5 mt-4">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <div class="row item-baseline gap-14">
              <div class="mal-16">
                <img src="./assets/img/Rectangle70.png" />
              </div>
              <div>
                <ul>
                  <li>Space Capital Group</li>
                  <li>></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 rg-img text-md-right text-left my-3 my-md-0">
            <img src="./assets/img/sub2.png" />
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-lg-0 mt-4">
        <ul class="flex-wrap">
          <li>Copyright © 2022 HomeUp, All rights reserved.</li>
          <li>Terrms of Use</li>
          <li>Privacy Statement</li>
          <li>License</li>
          <li>Accesibility</li>
          <li>Do Not Sell My Personal Information</li>
        </ul>
      </div>
      <div class="col-md-12 mat-42">
        <ul class="flex-wrap">
          <li>Chịu trách nhiệm nội dung: Trần Mạnh Ninh</li>
          <li>Công ty Cổ phần Homeup Việt Nam 2022</li>
          <li>Địa chỉ: Số 114 Mễ Trì Hạ, Nam Từ Liêm, Hà Nội</li>
          <li>Số điện thoại: 04862715675</li>
          <li>MST: 031329999</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
