<header class="top-header" id="header">
  <nav
    class="navbar navbar-expand-lg menu navbar-light bg-light justify-content-lg-start justify-content-center"
    style="background: #ffffff !important; padding: 10px"
  >
    <!-- Links -->
    <!-- Brand/logo -->
    <a class="navbar-brand ml-lg-0 ml-auto" href="#"
      ><img src="./assets/img/logo.png" alt="" width="125"
    /></a>
    <img
      class="d-lg-none d-block ml-lg-4 ml-auto"
      src="./assets/img/like-bt.png"
      alt=""
    />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav-mobile-header d-flex d-lg-none">
        <div>
          <a href="#" class="btn btn-primary">Đăng nhập</a>
          <a href="#" class="btn btn-outline-secondary">Đăng kí</a>
        </div>
        <a href="#" class="btn btn-primary">Đăng tin</a>
      </div>
      <ul class="navbar-nav mr-auto d-lg-flex">
        <li class="item-menu dropdown">
          <a
            class="nav-link dropdown-toggle item-nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Nhà đất bán</a
          >
          <!-- Sub-Menu -->
          <ul class="sub-menu dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-item">
              <a href="#">Bán căn hộ chung cư</a>
            </li>
            <li class="dropdown-item">
              <a href="#">Bán nhà riêng</a>
            </li>
          </ul>
        </li>

        <li class="item-menu dropdown">
          <a
            class="nav-link dropdown-toggle item-nav-link"
            href="#"
            id="navbarDropdown2"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Nhà đất cho thuê</a
          >

          <ul class="sub-menu dropdown-menu" aria-labelledby="navbarDropdown2">
            <li class="dropdown-item">
              <a href="#">Cho thuê căn hộ chung cư</a>
            </li>
          </ul>
        </li>
        <li class="item-menu">
          <a class="item-nav-link" href="#">Dự án</a>
        </li>
        <li class="item-menu">
          <a class="item-nav-link" href="#">Tin tức</a>
        </li>
        <li class="item-menu">
          <a class="item-nav-link" href="#"> Bản Đồ </a>
        </li>
        <li class="item-menu">
          <a class="item-nav-link" href="#"> Thuật Ngữ </a>
        </li>
        <li class="item-menu d-none d-lg-flex">
          <img src="./assets/img/threedot.svg" alt="" style="cursor: pointer" />
        </li>
      </ul>
    </div>
    <div
      class="nav-overlay"
      onclick="this.previousElementSibling.previousElementSibling.click()"
    ></div>
    <ul class="navbar-nav d-none d-lg-flex" style="display: none">
      <li
        class="item-menu"
        onclick="clickShowSubmenu()"
        style="
          padding: 8px 12px;
          border-radius: 24px;
          border: 1px solid #ecedf1;
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        "
      >
        <a href="#">
          <img
            style="width: 24px; cursor: pointer"
            src="./assets/img/menu.svg"
            alt=""
          />
          <img
            style="width: 24px; cursor: pointer"
            src="./assets/img/profile-circle.svg"
            alt=""
          />
        </a>
        <ul class="sub-menu" id="profile-submenu" style="display: none">
          <li>
            <a href="#" style="background: #ffffff">Đăng nhập</a>
          </li>
          <li>
            <a href="#" style="background: #ffffff">Tạo tài khoản mới</a>
          </li>
          <li style="border-top: 1px solid #ecedf1">
            <a href="#" style="background: #ffffff">Trợ giúp</a>
          </li>
        </ul>
      </li>
      <li
        class="item-menu"
        style="padding: 8px 12px; background: #d1193f; border-radius: 24px"
      >
        <a href="#">
          <span
            style="
              color: #ffffff;
              font-weight: 600;
              font-size: 14px;
              line-height: 22px;
            "
            >Đăng Tin</span
          >
          <img style="width: 20px" src="./assets/img/edit-header.svg" alt="" />
        </a>
      </li>
    </ul>
  </nav>
</header>
